.footer-gamelog {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #45936C;
    color: white;
   }

  .footer-gamelog h1{
    margin:  20px;
    font-weight: 400;
  }
  .container{
    text-align: center;
  }
