
<div class="form-group m-5">
    <form>
        <div class="row">
            <div class="col">
                <label for="nomeJogo"><h3>Nome do jogo</h3></label>
                <input type="text" class="form-control mt-2" id="nomeJogo" placeholder="Inserir nome do jogo">
                <div class="plataforma-radio mt-5">
                    <h3>Plataforma</h3>
                    <div class="form-check mt-3">
                        <input type="radio" class="form-check-input" id="plataformaPS" name="plataformaPS" placeholder="Inserir nome do jogo">
                        <label for="plataformaPS"><p>Playstation</p></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="plataformaXbox" name="plataformaXbox"placeholder="Inserir nome do jogo">
                        <label for="plataformaXbox"><p>Xbox</p></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="plataformaPC" name="plataformaPC" placeholder="Inserir nome do jogo">
                        <label for="plataformaPC"><p>PC</p></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="plataformaNintendo" name="plataformaNintendo" placeholder="Inserir nome do jogo">
                        <label for="plataformaNintendo"><p>Nintendo</p></label>
                    </div>
                </div>
                <div class="form-group mt-5">
                    <label for="status-dropdown"><h3>Status</h3></label>
                    <select class="form-control mt-3" id="status-dropdown">
                      <option>- Selecione -</option>
                      <option>Backlog</option>
                      <option>Jogando</option>
                      <option>Concluido</option>
                    </select>
                  </div>
            </div>
            <div class="col">
                <label for="dataInicio"><h3>Data Inicio</h3></label>
                <input type="date" class="form-control mt-2" id="dataInicio" placeholder="Inserir nome do jogo">
                <label class="mt-5"for="dataFim"><h3>Data Fim</h3></label>
                <input type="date" class="form-control mt-2" id="dataFim" placeholder="Inserir nome do jogo">
                <h3 class="mt-5">Conqusitas</h3>
                <div class="form-check  mt-3">
                    <input type="checkbox" class="form-check-input" id="conquistas" placeholder="Inserir nome do jogo">
                    <label for="conquistas"><p>100%</p></label>
                </div>
            </div>
        </div>
    </form>
</div>
